

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------------GRID CONTAINER-------------------------- */
#main-container{
    
    font-size: 100%;
    display: grid;
    grid-template-rows: 1fr   repeat(7, auto);
    grid-template-columns: auto ;
    grid-template-areas: "header"
                          "hero"
                          "service"
                          "about"
                          "app"
                          "custormer"
                          "latest"
                          "footer";            
    justify-content: center;    
    font-family: 'Mulish', sans-serif;
    /* margin: 2.87em  2.87em  0; */
    align-content: center;

    
}
/* --------------------------BODY ICONS------------------- */
.body-logo1{

    position: absolute;
    top: 8em;

    
}

.body-logo1, .body-logo2, .body-logo3, .body-logo4 img{

    max-width: 100%;
    
}

.body-logo2{

    position: absolute;
    top: 60em;
    z-index: 0;
}

.body-logo3{

    position: absolute;
    top: 248em;
    left: 50em;
    z-index: 0;

}

.body-logo4{

    position: absolute;
    top: 239em;
    z-index: 0;
}

.body-logo5{

    position: absolute;
    top: 220em;
    left: 74em;
    z-index: 0;
}

.body-logo6{

    position: absolute;
    top: 170em;
    left: 74em;
    z-index: 0;
}


.body-logo7{

    position: absolute;
    left: 70em;
    z-index: 0;
    top: 95em;
       
}



/* -------------------------MAIN GRID MARGIN------------ */
.main{

    margin: 2.87em 2.87em 0;
}

img{

    max-width: 100%;
}

/* ----------------------------HEADER  SECTION------------------ */
.header{

    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    /* position: fixed; */
    top: 0;
    /* justify-self: center;
    align-self: center; */
    
    
    
}
.nav-link {
    display: flex;
    gap: 2.3em;
    font-family: 'Mulish' sans-serif;
     font-style: normal;
     font-size: 1.12em;
    font-weight: 400;
    
       
}

.nav-link a{
    text-decoration: none;
     color: #1F1534;
     transition-property: color, font-family;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.nav-link a:hover{

    color: #458FF6;
    font-family: cursive;
}



.home-2{

    opacity: 0.5;
}

.home{

    font-weight: 700;
}

.cross{

    display: none;
}

.hamburger{

    display: none;
}
/* -------------------------------------HERO SECTION--------------------- */
.hero{

    grid-area: hero;
    font-style: normal;
    font-family: 'Mulish', sans-serif;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
     font-weight: 300; 
     padding-bottom: 3.75em;
}


  .hero-txt{

    
    flex: 0 1 27.81em;
   
}  



.hero-txt li{

    list-style-type: none;
}

.hero-txt h1{

    font-weight: 700;
        font-size: 3em;
}

.hero-txt p{

    font-weight: 300;
        font-size: 1.3em;
        line-height: 2em;
        mix-blend-mode: normal;
        color: #7D7987;
}

.hr-link{

   padding-top: 1.25em;
}
.hr-link a {

    border-radius: 55px;
    border: 1px solid #458FF6;
    list-style-type: none;
    text-decoration: none;
    padding: 0.56em 1.87em;
    color: #FFFFFF;
    width: 12.5em;
    background-color: #458FF6;
    transition-property: background-color, color, font-family;
    transition-duration: 0.2s;
}

.hr-link a:hover{

    background-color: dodgerblue;
    color: gold;
    font-family: cursive;

}

.hero  figure img{
    max-width: 100%;
}

/* ------------------------------------------SERVICES SECTION----------------------------- */
.service{

    grid-area: service;
     /* background-image: url(Asset/sec-1-bg.svg);  */
    /* background-image: url(Asset/Vector\(1\).svg); */
    background-repeat: none;
    background-position: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
    padding-bottom: 3.75em;
    z-index: 1;
    
}

/* .secbg img{
position: absolute;
left: 100;
z-index: -1;
} */
.srv-txt{

    text-align: center;
}
.srv-txt h3{

    font-weight: 700;
        font-size: 2.25em;
        line-height: 3.5em;
}

.srv-txt p{

    color: #7D7987;
    /* text-align: center; */
    font-weight: 300;
        font-size: 1.12em;
        line-height: 1.5em;
        max-width: 59.5em;
       
}

.srv-link a{

    background: #fff;
    color: #458FF6;  
}

/* -------------------------------SERVICE GRID--------------- */
.srv-grid{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "srv-cnt-1"
                        "srv-cnt-2";  
     grid-auto-flow: row dense; 
     justify-content: center;
     justify-items: center;
     font-family: 'mulish', sans-serif;
     align-content: center;
     align-items: center;
     
     
}

.srv-pad{

    padding:  1.7em;
}

.btn{

    grid-row: 3/4;
    grid-column: 2/3;
    list-style-type: none;
    width: 200px;
}


.srv-cnt-1{

    grid-area: srv-cnt-1;
}

.srv-item{

    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 1.31em;
    background-color: #fff;
    margin: 1.0em;
    justify-self: center;
    align-self: center;
}

.srv-item img{

  padding: 20px 40px;
    max-width: 100%;

}

.srv-item h4{
  
    font-style: normal;
    font-size: 1.5em ;
    font-weight: 700;
    line-height: 0em;

}

.srv-item p{
     font-weight: 300;
    font-size: 1em;
    line-height: 1.75em;
     color: #7D7987;
     max-width: 16.31em;
}

.row1{

   margin-bottom: 0.31em;
}
.srv-cnt-2{

    grid-area: srv-cnt-2;
}
.srv-txt h3 {
    text-align: center;
}

hr{
   max-width: 4em;
    border: 2px solid black;
}

/* ---------------------------------------------------ABOUT SECTION------------------------- */
.about{

    grid-area: about;
    justify-self: center;
    align-self: center;
    padding-bottom: 3.75em;
    text-align: left;
    font-family: 'Mulish', sans-serif;
        font-style: normal;
        margin-top: 5em;
}


.about-main{

    display: flex;
    justify-content: space-between;
    align-items: center; 
    justify-content: center;
    
}

.abt-ul-1{

    max-width: 30em;
}


.abt-ul-1 h2{

font-weight: 700;
    font-size: 2.25em;
}

.abt-ul-1 p{

    color: #7D7987;
    font-weight: 300;
        font-size: 1.125em;
        line-height: 1.87em;
        /* max-width: 28.1em; */
}

.about figure img{

   max-width: 100%;
}


/* -----------------------------------------------APP SECTION------------------------------------ */
.app{

    grid-area: app;
    display: flex;
   text-align: justify;
   justify-content: center;
   align-items: center;
   justify-self: center;
   align-self: center;
    padding-bottom: 3.75em;
    margin-top: 10em;
}

.app-txt{

    max-width: 26.25em; 
    text-align: left;
    align-self: center;
   
}

.app-txt h2{

    /* text-align: center; */
    font-weight: 700;
        font-size: 2.25em;
        line-height: 1.8em;
       max-width: 15.8em; 
}

.app-txt p{

    font-weight: 300;
        font-size: 1.31em;
        line-height: 1.875em;
        color: #7D7987;
}

.app figure img{
    max-width: 100%;
}

/* -------------------------------------------------------------CUSTORMER SECTION------------------------------- */
.custormer{

    z-index: 1;
    margin-top: 9em;
}

.custormer-bg{

    grid-area: custormer; 
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
        border-radius: 24px;
        justify-self: center;
        align-self: center;
        /* max-width: 70em; */
        padding-bottom: 3.75em;
        font-family: 'Mulish', sans-serif;
            font-style: normal;
            color: #fff;
            text-align: center;
   
}

 

.custormer1{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}

.cus-img{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cus-txt h5{
   
    
    font-weight: 700;
        font-size: 1.375em;
        /* line-height: 48px; */
       
        mix-blend-mode: normal;
}

.cus-txt p{

    color: rgba(255, 255, 255, 0.85);
}

.cus-txt2{

       text-align: left;
        font-size: 1.18em;
        font-weight: 400;
        line-height: 1.875em;
        letter-spacing: 0em;
        max-width: 26.25em;
        color: rgba(255, 255, 255, 0.85);
      align-self: center; 
      margin-top: 1.5em; 
      
}

.cus-img img{

    border-radius: 50%;
}
.custormer h2{

    text-align: center;
    padding-top: 0.5em;
}

.cus-img img{

    max-width: 100%;
}
.others-img{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    

}

.cus-line{

    color: #fff; 
    
}


/* ------------------------------------------------------------LATEST SECTION----------------------------- */
.latest{

    grid-area: latest;
    /* background-image: url(Asset/bg-element.svg);
    background-repeat: none;
        background-position: right;
        background-size: cover; */
        /* text-align: center; */
         justify-content: center;
        align-content: center;
     
        align-items: center; 
        text-align: center;
        margin-top: 10em;
        padding-bottom: 3.75em;
      z-index: 1;  
      justify-self: center;
      align-self: center; 
      font-family: 'mulish', sans-serif;  
}

.latest-flex {

    display: flex;
    text-align: start;
    align-items: center;
  justify-content: center;
   margin: 2em 0;  
/* background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 30px; */
    font-family: mulish, sans-serif;
}

.latest-img {

    
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 30px;
    align-self: center;
     margin: 0 0.8em; 
    font-family: mulish, sans-serif;
    align-self: stretch;
       
}

.latest-img img {

    border-radius: 3%;
    flex: 1 1 auto;
    align-self: stretch;
    max-width: 100%;
}

 .latest-cnt h5 {

     font-size: 1.2em;
     font-weight: 700;
     line-height: 2em;
     max-width: 16em;
 }

 .latest-cnt p {

     font-style: normal;
     font-weight: 300;
     font-size: 1em;
     line-height: 2.6em;
     color: #7D7987;
     max-width: 19em;

 }

.spa-txt1{

max-width: 15.31em;    
}

.spa-txt2{

    max-width: 16.625em;
}

 .latest-cnt {

   padding-left: 2em;
   padding-bottom: 2em;
 
    
 }

 .latest-cnt a{
       
    text-decoration: none;
    color: #458FF6;

 }

 .read{

    padding: 8px;
 }
/*
.latest-cnt{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;

}

 .latest-cnt h5{

font-family: Mulish;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2em;
    max-width: 16em;     
}

.latest-cnt p{

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
   
} 

.latest-cnt a {

    font-weight: 600;
        font-size: 17px;
        line-height: 28px;
        color: #4089ED;
}

.flex{

      display: flex;
      /* justify-content: center;
      align-items: center;
      text-align: center; 
}
*/
.read-more{

    display: flex;
    /* align-items: center;
    text-align: center;
    justify-content: flex-start;    */
}

.read-more img{

    align-self: center;
}

.latest-btn{
    font-weight: 700;
        font-size: 18px;
        line-height: 60px;
     
}

.latest-btn a{

    border-radius: 55px;
        border: 1px solid #458FF6;
        list-style-type: none;
        text-decoration: none;
        padding: 0.56em 1.875em;
        color: #458FF6;
        width: 12.5em;
        transition-property: background-color, color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
}

.latest-btn a:hover{

    background-color: aqua;
    color: darkorange;
}

/* ------------------------------------------------------------FOOTER SECTION---------------------------------------- */

footer{
    
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    max-width: 100%;
    grid-area: footer;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
     /* max-height:  45.18em; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    margin-top: 5em;
    padding-bottom: 4em;
    /* background-image: url(Asset/Footer-bg.svg);
    background-repeat: none;
        background-position: center;
        background-size: cover; */
}



.footer1{
    
     max-width: 24.43em; 
     padding-top: 3em;

}

.footer1 p{

    font-weight: 300;
    font-size: 1.125em;
        line-height: 1.75em;
        color: rgba(255, 255, 255, 0.85);
}

.page-logo{

    margin-top: 2em;
}

.T-icon{
     color: #458FF6;
     width: 41px; 
    border-radius: 50%;
    background-color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
        font-size: 1.6em;
        font-weight: 700;
        line-height: 2em;
        text-align: left;
        padding: 0.187em;
}

.T-icon2{

    font-family: 'Mulish', sans-serif;
        font-size: 1.6em;
        font-weight: 700;
        line-height: 1.87em;
        text-align: left;
}

footer ul li a{

color: rgba(255, 255, 255, 0.85);
   
   text-decoration: none;
} 

.footer-list ul{

    list-style-type: none;
}

.footer-list h6{

    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 3.75em;
}


/* ----------------------------------------------------MEDIA QUERY 840PX----------------------------- */
@media screen and (max-width: 840px) {


  .active{

    display: block;
  }

  .hide-navbar-toggle{

    display: none;
  } 

  .logo-incative{

    display: none;
  }

.home-2{

    opacity: 0.5;
}

    .custormer1 {
    
            display: block;
            text-align: center;
        }
    
        .cus-txt2 {
    
            font-size: 1.5em;
        }

.icon{

    display:  block;
    font-size: 50px;
    text-decoration: none;
    color: black;
    z-index: 1;
}



.cross{

    display: none;
    font-size: 75px;
    /* position: absolute; */
    right: 0;
    margin-right: 55px;
    

   
}

.nav-link{

    display: none;
    flex-direction: column;
    background-color: #458FF6;
    background-position: ;
    min-width: 50vw;
    min-height: 50vh;
    gap: 10em;
    /* position: fixed;
    top: 8vh; */
right: 0;
}

.open-nav{

    display: flex;
        flex-direction: column;
        background-color: #458FF6;
        min-width: 50vw;
        min-height: 50vh;
        gap: 10em;
}

/* .nav-link a{

    color: red;
} */




}

/* -----------------------------------------------------MEDIA QUERY 786PX---------------------------------- */
@media screen and (max-width: 786px) {


   .body-logo5{

    display: none;
   }
   .body-logo4{

    display: none;
   }
   .body-logo2{

    display: none;
   }

   
/* 

    .active {
    
            display: block;
        }
    
        .hide-navbar-toggle {
    
            display: none;
        }
    
        .logo-incative {
    
            display: none;
        }
    
        .home-2 {
    
            opacity: 0.5;
        }
    .nav-link{

        display: none;
        color: black;
    }
     

        .icon {
    
            display: block;
            font-size: 50px;
            text-decoration: none;
            color: black;
            z-index: 1;
        }
    
    
    
        .cross {
    
            display: none;
            font-size: 75px;
            position: absolute;
            right: 0;
            margin-right: 55px;
    
        }
    
        .nav-link {
    
            display: none;
            flex-direction: column;
            background-color: #458FF6;
            min-width: 50vw;
            min-height: 50vh;
            gap: 10em;
            position: fixed;
            top: 8vh;
            right: 0;
        }
    
        .open-nav {
    
            display: flex;
            flex-direction: column;
            background-color: #458FF6;
            min-width: 50vw;
            min-height: 50vh;
            gap: 10em;
        } */

        .about {
    
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }


     .app {
    
    display: flex;
     flex-direction: column;
      text-align: center;
         }
   
        .custormer1 {
    
            display: block;
            text-align: center;
        }

    .cus-txt2{

        font-size: 1.5em;
    }


    footer{

        display: block;
        text-align: center;
    }

    .footer1{
       margin: 0 auto;
        
        text-align: center;
    }


    .latest-flex{

    flex-wrap: wrap;
      justify-content: center;
      align-items: center;
        max-width: 24em;
        margin-bottom: 1em;
        gap: 1.5em;
    }
   
   .latest-cnt {

      max-width: auto;
      padding: 2em;
      
   }

}  

/* -----------------------------------------------------------MEDIA QUERY 581PX-------------------------- */
@media screen  and (max-width: 581px) {
    

    footer{

        display: block;
        text-align: center;
    }

        .footer1 {
    
            max-width: 24.43em;
            margin: 0 6em;
        }
   .body-logo4 {

       position: absolute;
       top: 219em;
       left: 1em;
       z-index: 0;
   }

   .body-logo5 {

       position: absolute;
       top: 193em;
       left: 10em;
       z-index: 0;
       display: none;
   }

   .body-logo3 {

       position: absolute;
       top: 247em;
       left: 3em;
       z-index: 0;

   }
}


/* ----------------------------------------------MEDIA QUERY 600PX -------------------------------- */

@media screen and (max-width: 600px) {
    
.active {

        display: block;
    }

    .hide-navbar-toggle {

        display: none;
    }

    .logo-incative {

        display: none;
    }




  .hero{

    display: block;
    text-align: center;
  }

  
  .hero-txt h1 {
      font-size: 2.5em;
      /* max-width: 6em; */
      font-weight: 600;
      flex: 1 0 auto;
  }

.latest-flex {

    display: block;
}

.body-logo3 {

    position: absolute;
    top: 247em;
    left: 3em;
    z-index: 0;
    display: none;

}

.body-logo5 {

    position: absolute;
    top: 193em;
    left: 10em;
    z-index: 0;
    display: none;
}

.body-logo4 {

    position: absolute;
    top: 219em;
    left: 1em;
    z-index: 0;
    display: none;
}

  /* .hero-txt p {

      max-width: 10em;
      font-size: 0.5;


  } */
}


/* -------------------------------------------------------MEDIA QUERY 506PX------------------------------------- */
@media screen and (max-width: 506px) {

body{

    position: relative;
}

#main-container{

    position: relative;
}

.header{

    position: ;
    top: 0;
}


    
.srv-grid {

        display: block;
        text-align: center;
    }

.felix {

    display: none;
}

           .body-logo4 {
    
               position: absolute;
               top: 219em;
               left: 1em;
               z-index: 0;
           }
    
           .body-logo5 {
    
               position: absolute;
               top: 193em;
               left: 10em;
               z-index: 0;
               display: none;
           }
    
           .body-logo3 {
    
               position: absolute;
               top: 247em;
               left: 3em;
               z-index: 0;
               display: none;
    
           }
  .app{

    text-align: center;
  }

  .latest-flex {

      display: block;
  }
}

/* -------------------------------------------------------------MEDIA QUERY 375PX----------------------------- */
@media screen and (max-width: 375px) {

    .nav {

    display: none;
        }

        .felix {
    
            display: none;
        }

   .ham-icon{

    display: inline-block;
    /* margin: 0 1em; */
    padding: 0 1em;
    align-self: flex-end;
}

.head{

    gap: 5em;
}


.body-logo4 {

    position: absolute;
    top: 219em;
    left: 1em;
    z-index: 0;
    display: none;
}


   /* .hamB ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;

   } */

 .header{

 display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.hero{

display: inline;
  
 
}

.hero-txt{

    text-align: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.hero-txt h1{
font-size: 3em;
max-width: 6em;
font-weight: 600;
flex: 1 0 auto;
}

.hero-txt p{

    max-width: 10em;
    font-size: 0.5;


}


.srv-grid{

    display: block;
    text-align: center;
}


.about{

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.app{

    display: flex;
    flex-direction: column;
    text-align: center;
}


.custormer1{

    display: block;
    text-align: center;
}

.latest-flex{

    display: block;
}

.latest-btn a {

    border-radius: 55px;
    border: 1px solid #458FF6;
    list-style-type: none;
    text-decoration: none;
    padding: 0.56em 1.875em;
    color: #458FF6;
    width: 12.5em;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.latest-btn a:hover {

    background-color: aqua;
    color: darkorange;
}

footer{

    display: block;
}

/* 
.srv-img{

    display: none;
}

.about{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.abt-ul-1{

    order: -1;
}


.btn-2{
  
    align-self: center;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 */

}    
